<h2>Fellows</h2>
<div class="group clearfix">
<h3>2012-2013 and 2013-2014</h3>
<div class="masonry" class="row">
{% for person in site.data.people %}
 {% if person.fellowship.size == 2 %}
 <div class="col-md-6">
   <div class="well">
    <div class="col-md-3">
<img src="{{ person.image }}" alt="{{ person.name }}" width="100" class="img-rounded">
    </div>
    <div class="col-md-9">
<h4>{{ person.name }} <small>{{ person.department }}</small></h4>
<p>Project: {{ person.project-title }}</p> 
    </div>
   </div>
 </div>
{% endif %}
{% endfor %}
</div>
</div>
<div class="group clearfix">
<h3>2013-2014</h3>
<div class="masonry" class="row">
{% for person in site.data.people %}
 {% if person.fellowship == '2013-14' %}
 <div class="col-md-6">
   <div class="well">
    <div class="col-md-3">
<img src="{{ person.image }}" alt="{{ person.name }}" width="100" class="img-rounded">
    </div>
    <div class="col-md-9">
<h4>{{ person.name }} <small>{{ person.department }}</small></h4>
<p>Project: {{ person.project-title }}</p> 
    </div>
   </div>
 </div>
{% endif %}
{% endfor %}
</div>
</div>
<div class="group clearfix">
<h3>2012-2013</h3>
<div class="masonry" class="row">
{% for person in site.data.people %}
 {% if person.hd_role contains 'alumni' %}
 <div class="col-md-6">
   <div class="well">
    <div class="col-md-3">
<img src="{{ person.image }}" alt="{{ person.name }}" width="100" class="img-rounded">
    </div>
    <div class="col-md-9">
<h4>{{ person.name }} <small>{{ person.department }}</small></h4>
<p>Project: {{ person.project-title }}</p> 
    </div>
   </div>
 </div>
{% endif %}
{% endfor %}
</div>
</section>