<h2>{{page.group-name}}</h2>
<div class="group clearfix">
<div class="masonry" class="row">
		{% for person in site.data.people %}
 {% if person.role == "{{page.group-name}}" %}
 <div class="col-md-6">
   <div class="well">
    <div class="col-md-3">
<img src="{{ person.image }}" alt="{{ person.name }}" width="100" class="img-rounded">
    </div>
    <div class="col-md-9">
<h4>{{ person.name }} <small>{{ person.position }}</small></h4>
<p>Project: {{ person.cs_project_description }}</p>
    </div>
   </div>
 </div>
 {% endif %}
{% endfor %}
</div>
</div>
<div class="group clearfix">

