
		
<header class="navbar navbar-default navbar-fixed-top" role="navigation banner">
	<!--navigation-->
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
		<span class="sr-only">Toggle navigation</span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		</button>
				      <div class="navbar-brand"><a href="http://hdlab.stanford.edu"><img src="https://www.stanford.edu/su-identity/images/wordmark-red@2x.png" alt="Stanford University"/></a> <a href="http://cesta.stanford.edu">CESTA</a></div>
	</div>
	
	<div>
		
		<ul class="nav navbar-nav">
			<li class="dropdown">
              <a href="" class="dropdown-toggle" data-toggle="dropdown">Labs, Projects &amp; Affiliated Units<b class="caret"></b></a>
              <ul class="dropdown-menu">
				<li><a href="http://hdlab.stanford.edu">Humanities+Design</a></li>
                <li><a href="http://litlab.stanford.edu">Literary Lab</a></li>
                <li><a href="http://spatialhistory.stanford.edu">Spatial History Lab</a></li>
                <li class="divider"></li>
                <li><a href="http://shc.stanford.edu">Stanford Humanities Center</a></li>
                <li class="divider"></li>
                <li><a href="http://digitalhumanities.stanford.edu">DH@Stanford</a></li>
              </ul>
            </li>
		</ul>
		<!--search-->
		<div class="col-sm-3 col-md-3 pull-right">
		<form class="navbar-form" role="search">
		<div class="input-group">
			<input type="text" class="form-control" placeholder="Search" name="srch-term" id="srch-term">
			<div class="input-group-btn">
				<button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
			</div>
		</div>
		</form>
		</div>
		<!--search-->
		
	</div>
<div class="row" style="margin-top:36px"><hr></div>
		<!-- /navigation banner-->

<div id="masthead">  
  <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1><strong>Humanities+Design</strong> <small>research lab</small></h1>
	<div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
				<li class="active"><a href="index.html">Lab Notebook</a></li>
				<li><a href="/people/index.html">People &amp; Partnerships</a></li>
				<li><a href="/fellowship-program/index.html">Fellowship Program</a></li>
				<li><a href="/sponsored-research/index.html">Sponsored Research</a></li>
				<li><a href="/teaching/index.html">Teaching</a></li>
				<li><a href="/about/index.html">About/Contact</a></li>
				<li>
						<a href="https://twitter.com/hdstanford">
							<svg version="1.1" class="twitter-icon-svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="10px" y="10px"
						             viewBox="0 0 16 16" enable-background="new 0 0 16 16" xml:space="preserve">
						            <path d="M15.969,3.058c-0.586,0.26-1.217,0.436-1.878,0.515c0.675-0.405,1.194-1.045,1.438-1.809
						            c-0.632,0.375-1.332,0.647-2.076,0.793c-0.596-0.636-1.446-1.033-2.387-1.033c-1.806,0-3.27,1.464-3.27,3.27
						            c0,0.256,0.029,0.506,0.085,0.745C5.163,5.404,2.753,4.102,1.14,2.124C0.859,2.607,0.698,3.168,0.698,3.767
						            c0,1.134,0.577,2.135,1.455,2.722C1.616,6.472,1.112,6.325,0.671,6.08c0,0.014,0,0.027,0,0.041c0,1.584,1.127,2.906,2.623,3.206
						            C3.02,9.402,2.731,9.442,2.433,9.442c-0.211,0-0.416-0.021-0.615-0.059c0.416,1.299,1.624,2.245,3.055,2.271
						            c-1.119,0.877-2.529,1.4-4.061,1.4c-0.264,0-0.524-0.015-0.78-0.046c1.447,0.928,3.166,1.469,5.013,1.469
						            c6.015,0,9.304-4.983,9.304-9.304c0-0.142-0.003-0.283-0.009-0.423C14.976,4.29,15.531,3.714,15.969,3.058z"/>
						         </svg>
						</a>

					</li>

			
			</ul>
			</div>
        </div>
      </div> 
  </div><!-- /cont -->
</div>
</header>
<div style="height:200px"></div>