<h2>Staff</h2>
<div class="group clearfix">
<div class="masonry" class="row">
{% for person in site.data.people %}
 {% if person.cs_role == "staff" %}
 <div class="col-md-6">
   <div class="well">
    <div class="col-md-3">
<img src="{{ person.image }}" alt="{{ person.name }}" width="100" class="img-rounded">
    </div>
    <div class="col-md-9">
<h4>{{ person.name }} <small>{{ person.position }}</small></h4>
<p>Project: {{ person.cs_project_description }}</p>
    </div>
   </div>
 </div>
{% endif %}
{% endfor %}
</div>
</div>
<div class="group clearfix">

<h2>Research Assistants</h2>
<div class="masonry" class="row">
{% for person in site.data.people %}
 {% if person.cs_role == 'assistant' %}
 <div class="col-md-6">
   <div class="well">
    <div class="col-md-3">
<img src="{{ person.image }}" alt="{{ person.name }}" width="100" class="img-rounded">
    </div>
    <div class="col-md-9">
<h4>{{ person.name }} <small>{{ person.position }}</small></h4>
<p>Project: {{ person.cs_project_description }}</p>
    </div>
   </div>
 </div>
{% endif %}
{% endfor %}
</div>
</div>

<!-- <h2>Stanford Researchers</h2>
<div class="masonry" class="row">
{% for person in site.data.people %}
 {% if person.fellowship == '2013-14' %}
 <div class="col-md-6">
   <div class="well">
    <div class="col-md-3">
<img src="{{ person.image }}" alt="{{ person.name }}" width="100" class="img-rounded">
    </div>
    <div class="col-md-9">
<h4>{{ person.name }} <small>{{ person.department }}</small></h4>
<p>Project: {{ person.project-title }}</p>
    </div>
   </div>
 </div>
{% endif %}
{% endfor %}
</div>
</div> -->

<div class="group clearfix">
<h2>External Partners</h2>
<div class="masonry" class="row">
{% for person in site.data.people %}
 {% if person.cs_role contains 'external' %}
 <div class="col-md-6">
   <div class="well">
    <div class="col-md-3">
<img src="{{ person.image }}" alt="{{ person.name }}" width="100" class="img-rounded">
    </div>
    <div class="col-md-9">
<h4>{{ person.name }} <small>{{ person.position }}</small></h4>
<p>Project: {{ person.cs_project_description }}</p>
    </div>
   </div>
 </div>
{% endif %}
{% endfor %}
</div>
</section>
