	<!-- scripts-->

			<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	        <script type='text/javascript' src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>

			<script type="text/javascript">
			$('.navbar-dfault li').on('click', function() {
			    $(this).parent().parent().find('.active').removeClass('active');
			    $(this).parent().addClass('active');
			});
			</script>
			<script type="text/javascript">
			  var _gaq = _gaq || [];
			  _gaq.push(['_setAccount', '{{ site.google_id }}']);
			  _gaq.push(['_trackPageview']);

			  (function() {
			    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			  })();
			</script>
			
			<script type="text/javascript">
			$(document).ready(function() {
			  $('#{{ page.title }}_carousel').carousel();
			});
			</script>

	
	 <!-- /scripts-->
