<!DOCTYPE html>
<!-- should make a website teaching how to make website OP -->
<html>
<!-- for now has slideshow at top of page -->
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
                <title>{{ page.title }}</title>
    </head>
    <body>
        <script src="http://code.jquery.com/jquery.js"></script>
        <script src="bootstrap/js/bootstrap.min.js"></script>
        
        {{content}}
        <script src="https://gist.github.com/cncoleman/4923bc13f9a327c43c6b.js"></script>
        <script src="https://gist.github.com/mjgonz/989a2fbfb1414a5ce678.js"></script>
        {% include gistMod.html %}

    </body>
</html>
