<!DOCTYPE html>
<html>

  {% include head.html %}

    <body>

    {% include header.html %}
	<!-- container -->
	<div class="container">
	<div class="row wrap">
      {{ content }}
    
    </div>
    {% include cesta_footer.html %}
	</div>
	<!-- /container -->
	<!-- scripts-->
	        <script type='text/javascript' src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>


	        <script type='text/javascript' src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>


	
		        <!-- JavaScript jQuery code from Bootply.com editor -->

		        <script type='text/javascript'>

		        $(document).ready(function() {

		});

	 <!-- /scripts-->

  </body>
</html>
